PORT = 4000

MONGODB_URI = mongodb+srv://archanaseelan:archana2612@cluster0.db9qbii.mongodb.net/spotify-clone_db?appName=Cluster0

CLERK_PUBLISHABLE_KEY=pk_test_YmVsb3ZlZC1raXQtNS5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_IeQg5acXqPIi41Lw4ZtlcI3xPDPWDUmVykH1MtyX3v

CLOUDINARY_API_KEY = 911623673576182
CLOUDINARY_API_SECRET = twu7N90BXFinwSJB0bEzMNZfzXk
CLOUDINARY_CLOUD_NAME = dhvs3rvac

NODE_DEV = development

ADMIN_EMAIL = archanaseelan4@gmail.com